<div class="profile_elements">
  <img src="img/me.jpg" alt="田中暁">
  <div class="profile_elements-text">
      <h2>田中 暁</h2>
      <ul>
          <li class="letter-space_005">30</li>
          <li class="letter-space_005">男</li>
          <li class="letter-space_005">フロントエンドエンジニア</li>
          <li class="letter-space_005">ラーメン、ドライブ</li>
      </ul>
  </div>
</div>
