<div class="profile_elements">
  <img src="img/me.jpg" alt="田中暁">
  <div class="profile_elements-text">
      <h2 lang="ja">田中 暁</h2>
      <ul>
          <li class="letter-space_005">30</li>
          <li class="letter-space_005">Japanese Male</li>
          <li class="letter-space_005">Front End Engineer</li>
          <li class="letter-space_005">Eat ramen, Drive a car</li>
      </ul>
  </div>
</div>
