<div class="profile_history">
    <ul>
        <li><span>-2009</span>　芝浦工業大学</li>
        <li><span>2009-2011</span>　アルバイト・バンド活動</li>
        <li><span>2011-2014</span>　佐川急便</li>
        <li><span>2014-2015</span>　リカレント</li>
        <li class="letter-space_005"><span>2015-</span>　Y's（フロントエンドエンジニア）</li>
    </ul>
</div>
