<div class="profile_elements">
  <img src="img/me.jpg" alt="田中暁">
  <div class="profile_elements-text">
      <ul>
          <li class="">田中 暁（Satoru Tanaka）</li>
          <li class="">30</li>
          <li class="">男</li>
          <li class="">フロントエンドエンジニア</li>
          <li class="">東京</li>
          <li class="">ラーメン巡り, ドライブする</li>
      </ul>
  </div>
</div>
