<div class="profile_elements">
  <img src="img/me.jpg" alt="田中暁">
  <div class="profile_elements-text">
      <ul>
          <li class="">田中 暁<span>（Satoru Tanaka）</span></li>
          <li id="age" class=""></li>
          <li class="">男</li>
          <li class="">東京（Tokyo Japan）</li>
          <li class="">Webサイト制作、アプリ制作</li>
          <li class="">ラーメン巡り, ドライブする</li>
      </ul>
  </div>
</div>
