<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="ja">
    <!-- <link rel="stylesheet" type="text/css" href="css/common.css"> -->
    <link rel="stylesheet/less" type="text/css" href="css/common.less">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/testLess.less"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/imageGallery.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"> -->
    <!-- <script type="text/javascript" src="js/js-static/underscore.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/jquery-1.11.2.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/handlebars-v3.0.0.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/backbone-min.js"></script> -->
    <script type="text/javascript" src="bower_components/less/dist/less.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/common.util.js"></script>
    <title>Satoru Tanaka</title>
</head>

<body>
<!-- container -->
<div id="container">
<header>
    <h1>Satoru tanaka</h1>
</header>

<section id="main-contents">
    <nav>
        <ul>
            <li class="current"><a href="" data-nav-id="profile">Profile</a></li>
            <li class=""><a href="" data-nav-id="blog">Blog</a></li>
            <li class=""><a href="" data-nav-id="output">Output</a></li>
            <li class=""><a href="" data-nav-id="use-package">Use Package</a></li>
            <li class=""><a href="" data-nav-id="contact">Contact</a></li>
        </ul>
    </nav>

    <div class="dummy-box_1"></div>

    <article>
        <div id="profile">
            <div class="profile_elements top_article-contents">
                <img src="img/me.jpg" alt="田中暁">
                <div class="profile_elements-text">
                    <h2>田中 暁</h2>
                    <ul>
                        <li>30</li>
                        <li>男</li>
                        <li>HTML5 CSS3 JavaScript</li>
                        <li>音楽 車 ラーメン</li>
                    </ul>
                </div>
            </div>
            <!--
            <div class="profile_history none">
                <ul>
                    <li>大学生・バンド活動</li>
                    <li>アルバイト・バンド活動</li>
                    <li>佐川急便</li>
                    <li>リカレント</li>
                    <li class="letter-space_005">Y's</li>
                </ul>
                <p class="text-box_17">
                    受験勉強が終わり調子に乗って初めたバンド活動。大学に馴染めず単位も取れなかったので結局中退することに決めた。バンド活動は順調ではなかったけどアルバイトと両立しているのが楽しくて家族には申し訳ないと思いつつも続けた。かっこいいギターを買えば上手くなると信じて高い買い物をしたのが運の尽き、借金地獄に突入。アルバイトでは首が回らなくなり仕方なく佐川急便に入社。普通に生きるのがとても大変だということを教わった。創造活動がどうしてもしたくてお世話になった佐川の人たちに惜しまれつつ、Webデザイナーを目指しリカレントの門を叩く。リカレントで見つけた求人にY’sを発見したが会社説明を聞いて最初は迷う。ただ創造活動する上でこの会社は間違っていないと信じ、入社。一人前のクリエイターになるべく試行錯誤は続く...
                </p>
            </div>
            <div class="profile_plan-the-year none">
                <h3><span class="js-toYear"></span>年の抱負</h3>
                <ul>
                    <li>
                        <dl>
                            <dt>学び</dt>
                            <dd>様々なプロダクトに関わり、創造活動に必要な知見を蓄えます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>活動</dt>
                            <dd>知見を蓄えるだけでは身につかないので、アウトプットしていきます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>貢献</dt>
                            <dd>道を示してくれている会社に恩返しします</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            -->
        </div>
        <div id="blog">
            <div class="top_article-contents">
                <h2>ブログ、準備中</h2>
            </div>
        </div>
        <div id="output">
            <div class="top_article-contents">
                <h2>アウトプット、準備中</h2>
            </div>
        </div>
        <div id="use-package">
            <div class="top_article-contents">
                <h2>パッケージ、準備中</h2>
            </div>
        </div>
        <div id="contact">
            <div class="top_article-contents">
                <h2>コンタクト、準備中</h2>
            </div>
        </div>
    </article>
</section>

<aside>
</aside>

<footer>
  <!-- <p>a part of Photo:&nbsp <a href="http://www.gatag.net/" target="_blank">http://www.gatag.net/</a> &nbspby：céd</p> -->
  <address><strong>&copy;</strong><span class="js-toYear"></span> SatoruTanaka All rights reserved</address>
</footer>

</div>
<!-- script -->
<script type="text/javascript" src="js/top.js"></script>
<script type="text/javascript" src="js/viewModel.js"></script>
<!-- <script type="text/javascript" src="js/imageGallery.js"></script> -->
</body>
</html>
