/*common.css*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(/bower_components/sanitize-css/sanitize.css);
/*@import url(/bower_components/bootflat/css/font-awesome.min.css);*/
/*
@import url(/bower_components/bootflat/css/bootflat.css);
@import url(/bower_components/bootflat/css/bootflat-extensions.css);
@import url(/bower_components/bootflat/css/bootflat-square.css);
*/

/* common */
html {
  height: 100%;
}
body {
    font-family: 'Poiret One', 'Meiryo', 'メイリオ', sans-serif;
    color: #222;
    background-color: #c0c0c0;
    height: 100%;
}
ul {
  list-style-type: none;
}
a {
  transition: 0.3s;
}
a:link,
a:visited {
  color: #222;
}
a:hover,
a:active {
  opacity: 0.3;
}
h1 {
  font-size: 3em;
}
#container {
  width: 809px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

/* header, footer */
header, footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 8px;
}
header {
  padding-left: 16px;
}
footer {
  width: 100%;
  text-align: right;
  height: 82px;
}
footer p {
  font-size: 12px;
}
footer a {
  color: #fff;
}
footer address,
footer address strong {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}
/* main-contents */
#main-contents {
  width: 100%;
  height: 336px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  /*overflow: hidden;*/
}
/* nav */
nav {
  width: 25.6%;
  background-color: #fff;
  padding: 48px 0;
  font-size: 24px;
  box-shadow: 2px 0px 2px 2px #222;
}
nav ul li {
  text-align: center;
  letter-spacing: 0.05em;
  height: 48px;
  line-height: 48px;
}
nav a {
}
/* dummy */
.dummy-box_1 {
  width: 1%;
  opacity: 0;
}
/* article */
article {
  width: 73.4%;
  padding: 48px 0;
  /*margin-left: 10px;*/
  background-color: rgba(255, 255, 255, 0.3);
}

/* contents */
#profile {
  height: 240px;
}
#profile .profile_elements {
  margin: 0 auto;
  width: 388px;
  height: 240px;
}
#profile img {
  float: left;
  width: 150px;
  margin-right: 25px;
  margin-top: 20px;
  border-radius: 100px;
}
#profile .profile_elements-text {
  overflow: hidden;
  border-left: 5px solid #fff;
  padding-left: 25px;
}
#profile .profile_elements-text h2 {
  font-size: 2em;
  letter-spacing: 0.5em;
  font-weight: normal;
  margin-top: 11px;
  display: inline-block;
  position: relative;
}
#profile .profile_elements-text h2::before {
  content: "Tanaka Satoru";
  font-size: 0.5em;
  letter-spacing: 0.2em;
  position: absolute;
  top: -11px;
  left: 5%;
}
#profile .profile_elements-text ul li {
  margin-top: 20px;
}
#profile .profile_history {
  padding: 30px 0;
}
#profile .profile_history ul li {
  position: relative;
  text-align: center;
  letter-spacing: 0.5em;
  font-weight: bold;
}
#profile .profile_history ul li:not(:first-child) {
  margin-top: 30px;
}
#profile .profile_history ul li:not(:last-child)::after {
  content: "＞";
  font-size: 0.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;
  margin: auto;
  transform: rotate(90deg);
}
#profile .profile_history p {
  margin-top: 20px;
}
#profile .profile_plan-the-year h3 {
  font-size: 1.5em;
  letter-spacing: 0.5em;
}
#profile .profile_plan-the-year ul {
  border-left: 5px solid #fff;
  padding-left: 10px;
  margin-top: 10px;
}
#profile .profile_plan-the-year li {
  margin-top: 5px;
}
#profile .profile_plan-the-year dt {
  font-weight: bold;
  letter-spacing: 0.5em;
}

/* helper */
#container .letter-space_05 {
  letter-spacing: 0.5em;
}
#container .letter-space_005 {
  letter-spacing: 0.05em !important;
}
#container .text-box_17 {
  line-height: 1.7 !important;
}
#container .none {
  display: none;
}
